p {
	margin: 0;
}

hr {
	margin: 0;
}

td {
	height: 50px;
	width: 100px;
	text-align: center;
}

a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

a:hover {
	background-color:#ffcccc;
}

tr:nth-of-type(1) {
	background-color: #c7d8ed;
	color: #666666;
}

.sunday {
	background-color: #ff3300;
	color: #ffffff;
}

.saturday {
	background-color: #a6c0e1;
}