.header {
    background: #f1f1f1;
    height: 52px;
    margin-bottom: 30px;
    }

.header-left {
	padding: 10px 60px;
	float: left;
	font-size: 15px;
	font-weight: bold;
	color: gray;
}

.header-right {
	padding: 10px 60px;
	float: right;
}

h1 {
	padding: .5em .75em;
	background-color: #f6f6f6;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
	width: 30%;
	font-size: 30px;
	font-weight: bold;
	color: #696969;
	margin-bottom: 30px;
	padding: 5px;
}

h2 {
	padding-bottom: .5em;
	width: 100%;
	font-weight: bold;
	color: #696969;
	margin-bottom: 30px;
	padding: 5px;
}

table {
	font-size: 12px;
	color: #666666;
}

th {
	background: #B0C4DE;
}

.err {
	color: #FF0000;
}

.spacer {
	margin-top: 44px;
}