<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>予約修正</title>
		<link rel="stylesheet"  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
		<link rel="stylesheet" href="/css/jquery.timepicker.css" th:href="@{/css/jquery.timepicker.css}"/>
	</head>
	<body>
		<div th:include="header :: frag_header"></div>
		<div class="container" align="center">
			<div class="table-responsive col-sm-offset-3 col-sm-6">
				<form action="/reservation/modify" id="registerForm" method="post" th:object="${formModel}">
					<div align="left">
						<ul>
							<li th:each="error : ${#fields.errors('global')}" th:text="${error}" class="err"/>
						</ul>
					</div>
					<table class="table table-bordered" th:inline="text">
						<tr><th>日付</th>
							<td><input type="text" name="rsvDate" id="rsvDate" th:value="*{rsvDate}"/>
								<div th:if="${#fields.hasErrors('rsvDate')}" th:errors="*{rsvDate}" th:errorclass="err"></div>
							</td></tr>
						<tr><th>タイトル</th>
							<td><input type="text" name="title" th:field="*{title}" th:placeholder="*{title}"/>
								<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="err"></div>
							</td></tr>
						<tr><th>開始時間</th>
							<td><input type="text" name="startTime" id="startTime" th:field="*{startTime}" th:value="*{startTime}"/>
								<div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" th:errorclass="err"></div>
							</td></tr>
						<tr><th>終了時間</th>
							<td><input type="text" name="endTime" id="endTime" th:field="*{endTime}" th:value="*{endTime}"/>
								<div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" th:errorclass="err"></div>
							</td></tr>
						<tr><th>詳細</th>
							<td><textarea name="detail" cols="50" rows="6" th:field="*{detail}" th:value="*{detail}"></textarea>
								<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" th:errorclass="err"></div>
							</td></tr>
						<tr th:if="${principal}"><th>メモ</th>
							<td><textarea name="memo" cols="50" rows="6" th:field="*{memo}" th:value="*{memo}"></textarea>
								<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorclass="err"></div>
							</td></tr>
					</table>
					<button th:if="${principal}" type="button" class="btn btn-default btn-sm active" id="register">登録</button>
					<button th:if="${principal}" type="button" class="btn btn-default btn-sm active" id="delete">削除</button>
					<input type="hidden" name="empNo" th:value="${empNo}"/>
					<input type="hidden" name="id" id="id" th:field="*{id}" th:value="*{id}"/>
					<input type="hidden" name="principal" id="principal" th:value="${principal}"/>
					<hr></hr>
					<button type="button" class="btn btn-default btn-sm active" id="return">戻る</button>
				</form>
			</div>
		</div>
		<div id="confirm-return" title="確認">
			<form action="/reservationList" method="post" id="returnForm">
				<p>入力した内容は消えてしまいます。</p>
				<p>本当に戻りますか？</p>
				<hr></hr>
				<button type="button" class="btn btn-default btn-sm active return">はい</button>
				<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
				<input type="hidden" name="calendarDate" id="calendarDate"/>
			</form>
		</div>
		<div id="confirm-register" title="予約登録">
			<p>登録いたしますか？</p>
			<hr></hr>
			<button type="button" class="btn btn-default btn-sm active" id="register-reservation">はい</button>
			<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
		</div>
		<div id="confirm-delete" title="予約取消">
			<form action="/reservation/delete" method="post" id="deleteForm">
				<p>本当に取り消しますか？</p>
				<hr/>
				<button type="button" class="btn btn-default btn-sm active" id="delete-reservation">はい</button>
				<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
				<input type="hidden" name="deleteId" id="deleteId" />
				<input type="hidden" name="reservationDate" id="reservationDate" />
			</form>
		</div>

		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
		<script th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js}"></script>
		<script th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/dialog.js}"></script>
		<script th:src="@{/js/date-and-timepicker.js}"></script>
		<script th:src="@{/js/jquery.timepicker.min.js}"></script>
		<script th:src="@{/js/modify.js}"></script>
	</body>
</html>
