<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>予約修正</title>
		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap.theme.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>
		<div class="header"></div>
		<div class="container" align="center">
			<div class="table-responsive col-sm-offset-3 col-sm-6">
				<form action="confirm-reserve.html" id="confirm-form">
					<table class="table table-bordered">
						<tr><th>タイトル</th>
							<td><input type="text" name="title"></td></tr>
						<tr><th>開始時間</th>
							<td><select name="startTime">
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option></select>時
								<select name="startMin">
								<option value="00">00</option>
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="40">40</option>
								<option value="50">50</option></select>分
							</td></tr>
						<tr><th>終了時間</th>
							<td><select name="endTime">
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option></select>時
								<select name="endMin">
								<option value="00">00</option>
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="40">40</option>
								<option value="50">50</option></select>分
							</td></tr>
						<tr><th>詳細</th>
							<td><textarea name="detail" cols="50" rows="6"></textarea></td></tr>
						<tr><th>メモ</th>
							<td><textarea name="memo" cols="50" rows="6"></textarea></td></tr>
					</table>
					<button type="button" class="btn btn-default btn-sm active" id="register">修正</button>
					<button type="button" class="btn btn-default btn-sm active delete">取消</button>
					<hr>
					<button type="button" class="btn btn-default btn-sm active" id="return">戻る</button>
				</form>
			</div>
		</div>
		<div id="dialog-message" title="確認">
			<p>入力した内容は消えてしまいます。</p>
			<p>本当に戻りますか？</p>
			<hr>
			<button type="submit" class="btn btn-default btn-sm active" onclick="location.href='refer-date.html'">はい</button>
			<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
		</div>
		<div id="confirm-register" title="予約更新">
			<p>登録いたしますか？</p>
			<hr>
			<button type="submit" class="btn btn-default btn-sm active" onclick="location.href='refer-date.html'" form="confirm-form">はい</button>
			<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
		</div>
		<div id="confirm-delete" title="予約取消">
			<p>本当に取り消しますか？</p>
			<hr>
			<button type="submit" class="btn btn-default btn-sm active" onclick="location.href='refer-date.html'">はい</button>
			<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
		</div>
	</body>
</html>
