<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>会議室予約管理</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
		<link type="text/css" rel="stylesheet" href="/css/refer-all.css" th:href="@{/css/refer-all.css}"/>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="/js/refer-all.js" th:src="@{/js/refer-all.js}"></script>
	</head>
	<body>
		<div th:include="header :: frag_header"></div>
		<div class="container" align="center">
			<div class="panel-body col-sm-offset-2 col-sm-8">
				<form action="/reservationList" method="post" name="refer">
					<input type="hidden" id="currentYearMonth" th:value="${calendarDateList.get(10).makeSelectCalendarDate()}"/>
					<h1 th:text="${calendarDateList.get(10).getYear()} + 年  + ${calendarDateList.get(10).getMonth()} + 月"></h1>
					<div id="before">
						<a class="moveMonth">前へ</a>
					</div>
					<div id="next">
						<a class="moveMonth">次へ</a>
					</div>
					<table class="table table-bordered" th:inline="text">
						<tr>
							<td class="sunday">日</td><td>月</td><td>火</td><td>水</td><td>木</td><td>金</td><td class="saturday">土</td>
						</tr>
						<tr th:each=" i : ${#numbers.sequence(0, 5)}">
							<td th:each=" n : ${#numbers.sequence(0, 6)}" th:with="date = ${calendarDateList.get(__${n}__+i*7)}">
								<p th:if="${date}">
									<span th:if="${date.getReservationList().size()}" class="reservation">
										<a class="calendar">
											[[${date.getDay()}]]
											<br/>
											([[${date.getReservationList().size()}]])
											<input type="hidden" id="selectCalendarDate" th:value="${date.makeSelectCalendarDate()}"/>
										</a>
									</span>
									<span th:unless="${date.getReservationList().size()}">[[${date.getDay()}]]</span>
								</p>
								<p th:unless="${date}"></p>
							</td>
						</tr>
					</table>
					<input type="hidden" id="calendarDate" name="calendarDate"/>
				</form>
				<button type="submit" class="btn btn-default btn-sm active" onclick="location.href='/reservation/new'">新規予約</button>
			</div>
		</div>
	</body>
</html>
