<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>予約状況</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
		<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js}"></script>
		<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="/js/refer-date.js" th:src="@{/js/refer-date.js}"></script>
		<script src="/js/btn.js" th:src="@{/js/btn.js}"></script>
	</head>
	<body>
		<div th:include="header :: frag_header"></div>
		<div class="container" align="center">
			<h1 th:text="|${#strings.substring(__${selectCalendarDate}__, 0, 4)} 年 ${#strings.substring(__${selectCalendarDate}__, 4, 6)} 月 ${#strings.substring(__${selectCalendarDate}__, 6, 8)} 日 |"></h1>
			<div class="table-responsive col-sm-offset-1 col-sm-10">
				<form action="/reservation/confirm" method="post" th:object="${formModel}" id="confirmForm">
					<table class="table table-bordered table table-striped" th:inline="text">
						<tr><th class="col-sm-2">タイトル</th><th class="col-sm-2">予約者</th><th class="col-sm-2">開始時間</th><th class="col-sm-2">終了時間</th><th class="col-sm-2"></th></tr>
						<tr th:each="reservation : ${reservationList}" th:with="sTime=${reservation.startTime},eTime=${reservation.endTime}">
							<td th:field="*{title}">[[${reservation.title}]]</td>
							<td th:field="*{rsvName}">[[${reservation.rsvName}]]</td>
							<td th:field="*{startTime}">[[${#strings.substring(sTime, 0, 2)}]]時[[${#strings.substring(sTime, 2, 4)}]]分</td>
							<td th:field="*{endTime}">[[${#strings.substring(eTime, 0, 2)}]]時[[${#strings.substring(eTime, 2, 4)}]]分</td>
							<td><button type="button" class="btn btn-default btn-sm active confirm">確認</button>
								<input type="hidden" th:value="${reservation.empNo}"/>
								<input type="hidden" th:value="${reservation.id}"/>
								<input type="hidden" id="rsvDate" th:value="${reservation.rsvDate}"/>
							</td>
						</tr>
					</table>
				</form>
				<button type="button" class="btn btn-default btn-sm active" id="newRegistration">新規予約</button>
				<button type="button" class="btn btn-default btn-sm active" id="return">戻る</button>
				<form action="/reservation/new" method="post" th:object="${formModel}" id="registrationForm">
					<input type="hidden" id="calendarDate" name="calendarDate"/>
				</form>
			</div>
		</div>
	</body>
</html>
