<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>新規予約</title>
		<link rel="stylesheet"  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
		<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"
				th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js}"></script>
		<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="/js/dialog.js" th:src="@{/js/dialog.js}"></script>
	</head>
	<body>
		<div th:include="header :: frag_header"></div>
		<div class="container" align="center">
			<div class="table-responsive col-sm-offset-3 col-sm-6">
				<form action="/reservation/register" id="registerForm" method="post" th:object="${formModel}">
					<table class="table table-bordered" th:inline="text">
						<tr><th>日付</th>
							<td><input type="date" name="rsvDate" th:field="*{rsvDate}" th:value="${rsvDate}"/> 例) 1990-10-28(IEの場合)</td></tr>
						<tr><th>タイトル</th>
							<td><input type="text" name="title" th:field="*{title}"/></td></tr>
						<tr><th>開始時間</th>
							<td><input type="text" name="startTime" th:field="*{startTime}"/> 例) 10時00分 → 1000</td></tr>
						<tr><th>終了時間</th>
							<td><input type="text" name="endTime" th:field="*{endTime}"/> 例) 10時30分 → 1030</td></tr>
						<tr><th>詳細</th>
							<td><textarea name="detail" cols="50" rows="6" th:field="*{detail}"></textarea></td></tr>
						<tr><th>メモ</th>
							<td><textarea name="memo" cols="50" rows="6" th:field="*{memo}"></textarea></td></tr>
					</table>
					<button type="button" class="btn btn-default btn-sm active" id="register">登録</button>
					<button type="button" class="btn btn-default btn-sm active" id="return">戻る</button>
				</form>
			</div>
		</div>
		<div id="confirm-register" title="新規予約">
			<p>登録いたしますか？</p>
			<hr></hr>
			<button type="submit" class="btn btn-default btn-sm active" id="register-reservation">はい</button>
			<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
		</div>
		<div id="confirm-return" title="確認">
			<p>入力した内容は消えてしまいます。</p>
			<p>本当に戻りますか？</p>
			<hr></hr>
			<button type="submit" class="btn btn-default btn-sm active" onclick="location.href='/calendar'">はい</button>
			<button type="button" class="btn btn-default btn-sm active close-dialog">いいえ</button>
		</div>
	</body>
</html>
