<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.ixui.tamura.mapper.ReservationMapper">
	<select id="selectReservationByCurrentMonth" resultType="Reservation">
		SELECT ID, RSV_DATE, TITLE, E.NAME AS RSV_NAME, R.EMP_NO, START_TIME, END_TIME, DETAIL, MEMO
		  FROM RESERVATION AS R
		  JOIN EMP_MST AS E
		    ON R.EMP_NO = E.EMP_NO
		 WHERE date_format(RSV_DATE, '%Y%m%d') LIKE #{currentMonth}
	</select>
	<select id="selectReservationByCurrentDay" resultType="Reservation">
		SELECT TITLE, E.NAME AS RSV_NAME, START_TIME, END_TIME, ID, R.EMP_NO, RSV_DATE
		  FROM RESERVATION AS R
		  JOIN EMP_MST AS E
		    ON R.EMP_NO = E.EMP_NO
		 WHERE date_format(RSV_DATE, '%Y%m%d') = #{reservationDate}
	</select>
	<select id="selectReservationById" resultType="Reservation">
		SELECT ID, RSV_DATE, TITLE, E.NAME AS RSV_NAME, R.EMP_NO, START_TIME, END_TIME, DETAIL, MEMO
		  FROM RESERVATION AS R
		  JOIN EMP_MST AS E
		    ON R.EMP_NO = E.EMP_NO
		 WHERE ID = #{id}
	</select>
	<delete id="deleteReservationById">
		DELETE FROM RESERVATION WHERE ID = #{id}
	</delete>
	<insert id="insertReservation">
		INSERT INTO RESERVATION (
					RSV_DATE, TITLE, RSV_NAME, EMP_NO, START_TIME, END_TIME, DETAIL, MEMO)
					VALUES (
					#{rsvDate}, #{title}, #{rsvName}, #{empNo}, #{startTime}, #{endTime}, #{detail}, #{memo})
	</insert>
</mapper>